.layout{width:100%;height:100%;position: relative;overflow:hidden;z-index:10;min-width:1024px;}
.layout a{color:#fff;}
.top_header{width:100%;height:40px;background-color:#242427;position: fixed;top:0;left:0;color: #d7d7d7;z-index:20;min-width:1024px;}
.top_header .company_logo,.top_header .company_logo img{height:40px;}
.top_header .company_logo{vertical-align: inherit;}
.top_header .company_name{height:40px;line-height:40px;vertical-align: top;}
.new_btn{display:inline-block;background:#347cdc;border-radius:4px;color:#fff;height:24px;line-height:24px;padding:0 10px;}
.top_nav{width:700px;height:40px;top:0;position:absolute;left:50%;margin-left:-350px;line-height:40px;}
.top_nav a{display:inline-block;color:#d7d7d7;margin:0 10px;line-height:40px;padding:0 10px;}
.top_nav a.new_btn{height:24px;line-height:24px;color:#fff;}
.top_nav a.current{color:#59a7f9;}
.top_set{width:160px;height:24px;border-left:1px solid #505052;position: relative;top:8px;*margin-top:-40px;}
.ico-bg,.ico-home2,.ico-search{width:22px;height:22px;background-position:-155px -428px;margin-left:20px;}
.ico-home2{background-position:-177px -428px;}
.ico-search{background-position:-199px -427px;}
.r_btn{width:40px;position: absolute;bottom:6px;right:40px;z-index: 20;}
.ico-prev,.ico-next,.ico-re{width:40px;height:40px;background-position:-40px -650px;}
.ico-re{background-position:0 -650px;margin-bottom:10px;margin-top:90px;}
.ico-next{background-position:-80px -650px;margin-top:-2px;}
.ico-q{width:18px;height:18px;background-position:-110px -428px;}
/*色球*/
.color_mark em{font-size:14px;}
.color_mark .Icon{width:14px;height:14px;border-radius:50%;behavior: url(../css/PIE.htc);background:none;vertical-align: -2px;margin-right:5px;}
.color_1 .Icon{background-color:#bbb;}
.color_2 .Icon{background-color:#8fc31f;}
.color_2 em{color:#8fc31f;}
@font-face {
font-family:Titillium;
src: url('TitilliumTitle01-Thin.eot'); /* IE9 Compat Modes */
src: url('TitilliumTitle01-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('TitilliumTitle01-Thin.woff') format('woff'), /* Modern Browsers */
  url('TitilliumTitle01-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('TitilliumTitle01-Thin.svg') format('svg'); /* Legacy iOS */
}
.Titillium{font-family: Titillium!important;font-weight:bold;}
.Btn-normal{display:inline-block;min-width:50px;border:1px solid #ccc;border-radius:2px;padding:0 10px;height:22px;line-height:22px;}
/*状态*/
.s_over{color:#8fc31f;}
.s_no{color:#e65c5c;}/*否决*/


.top_header .UserImg{position: relative;top:8px;margin-right:10px;}
.top_header .UserImg,.top_header .UserImg img{width:24px;height:24px;}
.autoImg{position:absolute;overflow: hidden;top: 0;left:0;}
.User{*margin-top:-40px;}
.new_search{width:360px;height:40px;padding:0 20px;padding-top:10px;background:#353539;position: absolute;top:-50px;right:0;}
.new_search input{width:77%;border:0;background:#fff;border-radius:3px;height:30px;line-height:normal;}
.new_search .new_btn{height:30px;line-height:30px;position:relative;top:1px;padding:0 20px;}
.second_header{width:100%;height:40px;background:url("../img/mask3.png") repeat;position: fixed;left: 0;top:-40px;}
.second_header a{display: inline-block;line-height:40px;height:40px;padding:0 20px;margin:0 5px;}
.second_header a.current{color:#59a7f9;background:url("../img/mask3.png") repeat;}
.bottom_nav{width:380px;height:60px;background:url("../img/mask4.png") repeat;border-radius:5px 5px 0 0;position: fixed;bottom:0;left:50%;margin-left:-190px;z-index:20;}
.bottom_nav a{margin:10px 0 0 20px;float: left;position:relative;}
.bottom_nav .Icon{width:40px;height:40px;background-position:-155px -450px;}
.bottom_nav .ico-b2{background-position:-155px -490px;}
.bottom_nav .ico-b3{background-position:-155px -530px;}
.bottom_nav .ico-b4{background-position:-155px -570px;}
.bottom_nav .ico-b5{background-position:-155px -610px;}
.bottom_nav .ico-b6{background-position:-155px -650px;}
.bottom_nav a span{position:absolute;z-index:20;top:-35px;left:50%;margin-left:-35px;color:#000;width:70px;height:31px;line-height:24px;background:url("../img/a_span.png");display: inline-block;text-align: center;display: none;opacity: 0;}
.new_main{width:1000px;margin:0 auto;min-height:200px;margin-top:90px;color:#fff;}
.top_board{width:800px;margin:0 auto;height:100px;background:url("../img/mask4.png") repeat;border-radius:3px;}
.top_board div{height:80px;width:50%;}
.top_board div.floatleft{width:399px;border-right:1px solid #3f505d;}
.top_board li{display: inline-block;width:80px;margin:5px 20px;}
.top_board li em{font-family: arial;font-size:36px;}
.top_board a,.top_board li em{color:#fff;display:block;}
.top_board li.nodate a,.top_board li.nodate em{color:#b8b9bd;}
.card_out{width:100%;position: relative;margin-top:40px;overflow: hidden;}
.card_box{width:810px;margin-left:90px;overflow: hidden;position: relative;}
.card_box_in{position: absolute;left: 0;}
.card_list{position: relative;width:810px;}
.card_list li{width:150px;height:100px;float:left;margin:0 0 10px 10px;border:1px solid #fff;background:#fff;border-radius:5px;transition:0.5s;color:#333;overflow: hidden;position: relative;box-shadow: 0 0 10px #444;}
.card_list li.current{width:312px;height:212px;transition:0.5s;z-index:20;}
.card_time{position: absolute;right:-1px;left:-1px;bottom:0;height:20px;line-height:20px;border-radius:0 0 5px 5px;padding-left:10px;border-top:1px solid #ccc;color:#888;}
.card_list li .card_time span{margin:0 5px 0 -65px;transition:0.5s;}
.card_in_main{margin:15px 0 10px 10px;color:#888;}
.card_in_main p{line-height:20px;position:relative;top:-5px;}
.card_list li .UserImg,.card_list li .UserImg img,.Approval .UserImg,.Approval .UserImg img{width:30px;height:30px;}
.card_list li .UserImg{margin-right:5px;}
.card_title{height:22px;line-height:22px;padding:0 10px;color:#fff;font-size:12px;border-radius:5px 5px 0 0;transition:0.5s;}
.card_list li.current .card_title,.card_list li.current .card_time{height:30px;line-height:30px;font-size:16px;transition:0.5s;}
.card_list li.current .card_time{font-size:12px;}
.card_list li.current .card_time span{margin:0;transition:0.5s;}
.card_theme1 .card_title{background:#5bb259;}
.card_theme1 .card_in_main p i{color:#5bb259;}
.card_theme2 .card_title{background:#cc4e51;}
.card_theme2 .card_in_main p i{color:#cc4e51;}
.card_theme3 .card_title{background:#4e78b0;}
.card_theme3 .card_in_main p i{color:#4e78b0;}
.card_theme4 .card_title{background:#e49436;}
.card_theme4 .card_in_main p i{color:#e49436;}
/*list*/
.list_main{width:1000px;position: relative;}
.list_table_box{position: relative;overflow: hidden;}
.list_table_in{position: absolute;left:50%;margin-left:-400px;}
.list_table{width:800px;margin:0 auto;}
.list_table thead th{color:#fff;height:30px;background:url("../img/mask40.png") repeat;text-indent:20px;}
.list_table tbody td{border-bottom:1px solid #c7c7c7;background:#fff;color:#444;}
.list_table tbody tr:last-child td{border-bottom:0;}
.list_table tbody div.inner_td{height:40px;line-height:40px;padding-left:20px;position: relative;}
.list_table tbody div.inner_td .UserImg,.Approval .UserImg{vertical-align:-10px;margin-right:5px;}
.Approval .UserImg{background:url("../img/ico.png") -195px -60px;cursor: pointer;}
.Approval table.Approval_turn{width:100%;margin:10px 0;height:auto;}
.Approval table.Approval_turn tr.first th,.Approval table.Approval_turn tr.first td{border-bottom:1px dashed #bbb;line-height:50px;}
.Approval table.Approval_turn textarea{width:398px;height:88px;border:1px solid #ccc;border-radius:2px;padding:5px;}
.list_table tbody div.inner_td .UserImg,.list_table tbody div.inner_td .UserImg img{width:30px;height:30px;}
.Approval table.Approval_turn .Btn-normal{margin-top:86px;}
.prompt_box{width:200px;position: absolute;padding:11px 0 4px 0;z-index: 20;left:-50px;top:30px;}
.prompt_top,.prompt_bt{display:block;width:200px;height:11px;background-position:0 -690px;position: absolute;left:0;}
.prompt_top{top:0;}
.prompt_bt{height:4px;bottom:0;background-position:0 -703px;}
.prompt_main{width:198px;border-left:1px solid #aaa;border-right:1px solid #aaa;min-height:50px;padding-bottom:5px;background:#fff;}
.prompt_title{border-bottom:1px solid #ccc;padding:5px 10px;line-height:29px;}
.prompt_main p{line-height:20px;display: block;}
.user_li{width:100%;}
.user_li li{height:50px;border-bottom:1px solid #eee;border-left:2px solid #fff;padding:0 8px;}
.user_li li p{position: relative;bottom:-7px;}
.list_table tbody div.inner_td .user_li li .UserImg,.list_table tbody div.inner_td .user_li li .UserImg img{width:32px;height:32px;}
.user_li li:hover{border-left-color:#347cdc;transition:0.3s;}
.right_main{width:800px;background:#fff;position:absolute;top:40px;right:0;bottom:0;border-left:1px solid #8b8b8b;z-index:20;}
.right_main a{color:#333;}
.AppMakeBtn a{color:#fff;}
.AppDetailmain{margin:20px 30px 0 20px;}
.AppMakeBtn{background:#3d3d42;border-left:1px solid #3d3d42;z-index:30;}
.jscroll{padding-bottom:100px;}
.jspDrag{background:#333;}
.app_p{border-top:1px solid #ddd;height:29px;line-height:29px;padding:0 0 0 10px;}
.app_p .Btn{height:29px;line-height:29px;border-radius:0;}
.MakeBtn{position: absolute;top:0;right:0;background:#b6b6b6;bottom:0;width:0;overflow: hidden;}
.MakeBtn a{display: inline-block;width:40px;height:40px;text-align: center;line-height:40px;}
.delete{background:#e65c5c;}
.ico-delete,.ico-turn{width:16px;height:16px;background-position: -177px -268px;vertical-align: middle;}/*垃圾箱*/
.ico-turn{background-position:-177px -284px;}
/*附件*/
.Annex_list li{display:block;width:100%;height:50px;position: relative;overflow: hidden;border-bottom: 1px solid #242427;}
.an_logo{padding:9px;}
.an_logo img{vertical-align: bottom;}
.Annex_list li p{line-height:18px;}
.Annex_list li p.txt_hidden{width:130px;color:#fff;}
.Annex_list li .btn-make{width:100px;height:50px;position:absolute;top:0;background:#0b1718;right:-100px;transition:0.3s;}
.Annex_list li .btn-make a{display:inline-block;height:50px;}
.Annex_list li .btn-make a:hover{background:#347cdc;}
.Annex_list li:hover .btn-make{right:-1px;transition:0.3s;}
/*通讯录*/
.User_list,.Annex_list{width:199px;border-left:1px solid #242427;position: absolute;top:40px;right:0;bottom:0;background: url("../img/mask70.png") repeat;}
.User_list .UserImg img,.User_list .UserImg{vertical-align:-5px;margin-right:10px;width:32px;height:32px;}
.User_list li{padding:8px;}
.User_title{background:#0f1d1e;border-bottom: 1px solid #0a1414;line-height:39px;color:#fff;}
.User_list .TopBar .search{width:140px;height:30px;border:1px solid #1c1e20;border-radius:5px;}
.User_list .TopBar .search input{height:30px;width:130px;}
.Cur_Word{width:18px;height:18px;line-height:18px;text-align: center;color:#347cdc;border:1px solid #347cdc;border-radius:5px;}
.CheckWord{width:202px;margin-right:-1px;}
.CheckWord td{width:18px;height:19px;cursor: pointer;padding:0;text-align: center;border:1px solid #283b3b;}
.CheckWord td:hover,.CheckWord td.current{background:#347cdc;color:#fff;}
.User_list ul.User_ul li{border-bottom: 1px solid #162826;padding:15px 10px;}
.User_list ul.User_ul li:hover{background:#112220;}
.User_list ul.User_ul li p{color:#888;line-height:22px;}
.User_list ul.User_ul li .UserName{color:#fff;}
.User_list ul.User_ul li .UserImg,.User_list ul.User_ul li .UserImg img{width:36px;height:36px;}
/*适配1024屏幕*/
.mini .top_nav a{margin:0 2px;padding:0 5px;}
.mini .ico-bg,.mini .ico-home2,.mini .ico-search{margin-left:10px;}
.mini .top_set{width:110px;padding:0 10px;}
.mini .new_search{width:280px;padding-right:5px;}
.mini .new_search input{width:67%;}




































